#menu_bar {
    display: none;
}

header label {
    padding: 15px;
    font-size: 35px;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 50%;
    height: 100vh;
    /*el tamño maximo dependiendo del dispositivo*/
    background-color: rgb(98, 85, 85, 0.3);
    transition: all 1.2s;
    transform: translateX(-100%);
    /* se oculta*/
}

.menu a {
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px 10px;
    border-bottom: oldlace solid 1px;
}

.menu a:hover {
    background-color: olive;
    transition: 1.2s;
}

#menu_bar:checked~.menu {
    transform: translateX(0);
}